parameters:
    level: max
    phpVersion: 80400
    paths:
        - Classes
        - Tests
    scanDirectories:
        - Packages/Framework/Neos.Flow/Tests
        - Packages/Application/Neos.Media/Tests
