parameters:
    level: max
    phpVersion: 80400
    paths:
        - Classes
        - Tests
    scanDirectories:
        - ../../Framework/Neos.Flow/Tests
        - ../../Application/Neos.Media/Tests
